In [1]:
import pandas as pd

trainfile = 'train.tsv'
testfile = 'test.tsv'
train = pd.read_csv(trainfile,sep='\t')
test = pd.read_csv(testfile,sep='\t')
train.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [13]:
import numpy as np
import pandas as pd
arr = np.array(np.arange(12)).reshape(3,4)
data = pd.DataFrame(arr)
s1 = pd.Series(np.arange(9))
s1.index=[3,4,5,6,7,8,9,0,1]
print(s1)
print(s1[7])

3    0
4    1
5    2
6    3
7    4
8    5
9    6
0    7
1    8
dtype: int32
4

In [18]:
import numpy as np
import pandas as pd
dic = {'a':[1,2,5,6,9,3,5],'b':[3,2,1,4,6,7,9],'c':[5,1,11,22,3,44,5],'d':[2,51,11,22,3,12,34],'e':[7,9,0,8,7,6,7]}
dataf = pd.DataFrame(dic)
print(dataf)
print(dataf.head())
print(dataf.tail())

   a  b   c   d  e
0  1  3   5   2  7
1  2  2   1  51  9
2  5  1  11  11  0
3  6  4  22  22  8
4  9  6   3   3  7
5  3  7  44  12  6
6  5  9   5  34  7
   a  b   c   d  e
0  1  3   5   2  7
1  2  2   1  51  9
2  5  1  11  11  0
3  6  4  22  22  8
4  9  6   3   3  7
   a  b   c   d  e
2  5  1  11  11  0
3  6  4  22  22  8
4  9  6   3   3  7
5  3  7  44  12  6
6  5  9   5  34  7

In [22]:
print(dataf.loc[[1,2,5]])
print(dataf[['a','d']].head())

   a  b   c   d  e
1  2  2   1  51  9
2  5  1  11  11  0
5  3  7  44  12  6
   a   d
0  1   2
1  2  51
2  5  11
3  6  22
4  9   3

In [24]:
import pandas as pd

stu_dic = {'Age':[14,13,13,14,14,12,12,15,13,12,11,14,12,15,16,12,15,11,15],
'Height':[69,56.5,65.3,62.8,63.5,57.3,59.8,62.5,62.5,59,51.3,64.3,56.3,66.5,72,64.8,67,57.5,66.5],
'Name':['Alfred','Alice','Barbara','Carol','Henry','James','Jane','Janet','Jeffrey','John','Joyce','Judy','Louise','Marry','Philip','Robert','Ronald','Thomas','Willam'],
'Sex':['M','F','F','F','M','M','F','F','M','M','F','F','F','F','M','M','M','M','M'],
'Weight':[112.5,84,98,102.5,102.5,83,84.5,112.5,84,99.5,50.5,90,77,112,150,128,133,85,112]}
student = pd.DataFrame(stu_dic)
print(student)

    Age  Height     Name Sex  Weight
0    14    69.0   Alfred   M   112.5
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
6    12    59.8     Jane   F    84.5
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

      Name  Score
0   Alfred     88
1    Alice     76
2  Barbara     89
3    Carol     67
4    Henry     79
5  Jeffrey     90
6     Judy     92
7   Philip     86
8   Robert     73
9   Willam     77

In [38]:
import pandas as pd
stu_score = pd.merge(student,score,on='Name',how = 'outer')
print(stu_score)

    Age  Height     Name Sex  Weight  Score
0    14    69.0   Alfred   M   112.5   88.0
1    13    56.5    Alice   F    84.0   76.0
2    13    65.3  Barbara   F    98.0   89.0
3    14    62.8    Carol   F   102.5   67.0
4    14    63.5    Henry   M   102.5   79.0
5    12    57.3    James   M    83.0    NaN
6    12    59.8     Jane   F    84.5    NaN
7    15    62.5    Janet   F   112.5    NaN
8    13    62.5  Jeffrey   M    84.0   90.0
9    12    59.0     John   M    99.5    NaN
10   11    51.3    Joyce   F    50.5    NaN
11   14    64.3     Judy   F    90.0   92.0
12   12    56.3   Louise   F    77.0    NaN
13   15    66.5    Marry   F   112.0    NaN
14   16    72.0   Philip   M   150.0   86.0
15   12    64.8   Robert   M   128.0   73.0
16   15    67.0   Ronald   M   133.0    NaN
17   11    57.5   Thomas   M    85.0    NaN
18   15    66.5   Willam   M   112.0   77.0

In [43]:
df = pd.DataFrame([[1,1,2],[3,5,np.nan],[13,21,34],[55,np.nan,10],[np.nan,np.nan,np.nan],[np.nan,1,2]],columns=('x1','x2','x3'))

mean = pd.isnull(df)
print(mean)
print(df.fillna(mean))

      x1     x2     x3
0  False  False  False
1  False  False   True
2  False  False  False
3  False   True  False
4   True   True   True
5   True  False  False
     x1    x2    x3
0     1     1     2
1     3     5  True
2    13    21    34
3    55  True    10
4  True  True  True
5  True     1     2

In [ ]:
dic2 = {'Name':['Alfred','Alice','Barbara','Carol','Henry','Jeffrey','Judy','Philip','Robert','Willam'],
        'Score':[88,76,89,67,79,90,92,86,73,77]}
score = pd.DataFrame(dic2)
print(score)